body{
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    width: 95%;
    background: #197fb3;
    background: linear-gradient(9deg, rgba(25, 127, 179, 1) 0%, rgba(78, 212, 149, 1) 35%, rgba(152, 239, 245, 1) 75%, rgba(209, 201, 255, 1) 100%);
}

.knewave-regular {
  font-family: "Knewave", system-ui;
  font-weight: 400;
  font-style: normal;
}

.logo{
    font-size: 3em;
}

.hamburgerMenu{
    position: fixed;
    top: 20px;
    right: 30px;
    font-size: 2em;
    color: black;
    z-index: 1000;
    cursor: pointer;
}
/*Hero Section*/
.heroSection{
    width: 100%;
    display: flex; /**/
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    margin: 20px ;
    
}

.heroLeftText{
    max-width: 40% ;
}

.menu {
  width: 260px;
  height: 300px;
  margin-right: 15%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* IMPORTANT */

  padding: 30px 20px; /* MUCH smaller */
  gap: 14px;

  border: solid rgb(99, 50, 10) 10px;
  border-radius: 10px;
  background-color: rgb(199, 152, 82);
}


.menuTitle{
  width: 100%;
  height: 350px; /* make the frame taller */
  

  padding: 20px 0; /* space between frame and text */
  text-align: center;
  font-size: 1.5em;

  display: flex;
  align-items: center;
  justify-content: center;
}

h2{
    font-size: 2em;
}

h4{
    font-size: 1.2em;
}

.toolBox{
  margin: 5px;
  border: solid black 2px;
  border-radius: 10px;
  padding: 20px;
}

/*About Section*/

.toolImg{
    width: 75px;
    height: auto;
}

h3{
  font-size: 1.5em;
}

/*Tool Box*/

/*Slide Show*/

.individualSlide {
  position: absolute;
  inset: 0;
  display: none;

  justify-content: center;
  align-items: center;
}

.individualSlide.active {
  display: flex;
}

.slideShowImage {
  max-width: 80%;
  max-height: 80%;
  object-fit: contain;
  margin-left: 20%;
}


.slideShowContainer {
  position: relative;
  width: 100%;
  height: 400px; /* PICK A FIXED HEIGHT */
  max-width: 800px;
  margin: 40px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}


.prevBtn,
.nextBtn {
  padding: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2em;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 10;
}

.prevBtn {
  left: 20px;
}

.nextBtn {
  right: 20px;
}
